doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='https://www.youtube.com/iframe_api')
    script(src='/scripts/main.js')